<p>register works!</p>

<section>

    <form [formGroup]="RegistroProducto" >
        <h1> Añadir nuevo producto a la lista</h1>

        <div class="example-container">
            <mat-form-field appearance="fill" class="example-full-widht">
                <mat-label>Producto</mat-label>
                <input matInput formControlName="producto" required>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill" class="example-full-widht">
                <mat-label>Costo</mat-label>
                <input matInput formControlName="costo" required>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill" class="example-full-widht">
                <mat-label>Imagen | URL </mat-label>
                <input matInput formControlName="imagen" required>
            </mat-form-field>
        </div>

        <div mat-dialog-actions class="mt-4">
            <button mat-button color="warm" (click)="onNoClick()">Cancelar</button>
            <button mat-button color="primary" [mat-dialog-close]
            (click)="onSubmit()" cdkFocusInitial>Añadir</button>
        </div>

    </form>


</section>











