.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 700px;
}  

section {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/759/747/desktop-wallpaper-vertical-on-dog-thumbnail.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

h1 {
    font-size: 27px;
    font-weight: 850;
    -webkit-text-stroke-color: #412E8A;
    -webkit-text-stroke-width: 0.6px;
    color: #E98C91;
    text-shadow: 0px 0px 6px white;

}

mat-label {
    font-weight: 800;
    
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  #cancelar {
    background-color: #d32d21;
    color: white;
}
 
#cancelar:hover {
    box-shadow: 0px 0px 4px 2px rgb(129, 5, 5);
}

  #añadir {
    background-color: #FF4786;
    color: white;
  }

  #añadir:hover {
    box-shadow: 0px 0px 4px 2px#990639;
}