body {
    background-image: url(https://i.pinimg.com/originals/e7/b7/9a/e7b79a5eb19b050a73339215dd45c571.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
}